 html{
                min-height: 100%;
            }
            body{
                
                overflow-y: hidden;
                margin: 0;
                border: 0;
                padding: 0;
                background:teal;
                background-repeat:no-repeat;
                background-size:cover;
                background-position:center;
                height:600px;
                font-family:Arial, Helvetica, sans-serif;
                margin:0%;
                padding:0;
                display:block;
               text-shadow: 0 0 7px #fff,
      0 0 10px #fff,
      0 0 21px #fff,
      0 0 42px rgb(0, 229, 255),
      0 0 82px rgb(0, 229, 255),
      0 0 92px rgb(0, 229, 255),
      0 0 102px rgb(0, 229, 255),
               
            }
        
            div{
                padding-left:190px;
                padding-top: 70px;
                
            }
      .size{
        font-size: 80px;
        color: transparent;
        -webkit-text-stroke:1px #fff;
        background-image:url("images/back.png");
        -webkit-background-clip: text;
        background-clip: text;
        background-position: 0 0;
        animation: back 20s linear infinite;
      }
      @keyframes back{
        100%{background-position:2000px 0;}
}
      .s{
        font-size: 60px;
        color:rgb(255, 255, 255);
        
      }
      .e{
        font-size: 40px;
        margin: 0;
        padding: 0;
        color:rgb(255, 255, 255);

      }
      
                header{
                    text-align:center;
                    color:whitesmoke;
                    font-family:Arial, Helvetica, sans-serif;
                }
                nav ul{
                    float:right;
                    font-size: larger;
                    padding-right: 30px;
                   
                
                    
                }
                li{
                    display:inline-block;
                    color:white;
                    
                                        
                }
               li a{
                    text-decoration: none;
                    
                    color:white;
                    display: block;
                    padding: 8px;
                    
                }
                a:active{
                    color: black;
                }
                a:hover{
                    background-color: aliceblue !important;
                   color: black;
                   transform: scale(1.2);
                   margin-right: 1.5rem;
                }
                @keyframes fadeIn {
            0% {
                opacity: 0;
            }
            100% {
                opacity: 1;
            }
        }

        .fadeIn {
            animation-name: fadeIn;
            animation-duration: 5s;
        }
        .about_text h1
        {
            color:transparent;
        }
        .row{
            display: flex;
            align-items: center;
            flex-wrap: wrap;
            padding-left: 10px;
            padding-top: 10px;
            
            
        }
        .row a{
            color: #fff;
            text-decoration: none;
            padding: 10px 20px;
            margin-right: 20px;
            border:2px solid #fff;
            }
         .row a:hover{
            transform: scale(1.2);
            margin-right: 1.5rem;
            color: black;
            background-color: #fff;
           }